a {
    color: inherit;
}

html {
    background-color: #fff59e;  
}

@font-face {
    font-family: "Jack Input";
    src: url("../../assets/fonts/Jack\ Input.TTF");
}

@font-face {
    font-family: "Just In Case";
    src: url("../../assets/fonts/Just\ In\ Case.otf");
}

.parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7rem;
}

.section-container{
    display: flex;
    gap: 5rem;
    padding: 10px;
    color: #374045;
    font-size: 1.1rem;
}

div.section-container > * {
    font-family: "Jack Input";
}

.container {
    padding: 50px;
}

img {
    height: 20rem;
    padding: 0px;
    float: left;
    border: 10px solid #e1d89f;
    border-radius: 5%;
    box-shadow: 5px 5px 25px 1px black;
    margin-right: 5rem;
}

.personal-info {
    font-family: "Poiret One";
    font-size: 2rem;
    color: #374045;
    text-align: justify;
}

h1 {
    padding-top: 10px;
    font-family: "Just In Case";
    color: #d89216;
    font-size: 3rem;
}