@font-face {
    font-family: "Jack Input";
    src: url("../../assets/fonts/Jack\ Input.TTF");
}

@font-face {
    font-family: "Just In Case";
    src: url("../../assets/fonts/Just\ In\ Case.otf");
}

html {
    background-color: #fff59e;  
}

.personal-photo {
    height: 20rem;
}

a {
    color: inherit;
}

.parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

div.section-container > * {
    font-family: "Jack Input";
}

.section-container{
    display: flex;
    gap: 5rem;
    padding: 10px;
    color: #374045;
    font-size: 1.1rem;
}

.personal-card {
    text-align: center;
}

#Name {
    font-family: "Just In Case";
    color: #374045;
    font-size: 4rem;
}

.personal-info {
    font-family: "Poiret One";
    font-size: 1.3rem;
    font-weight: 500;
    color: #d89216;
    letter-spacing: 3px;;
}

.intro-passage {
    width: 60vh;
    text-align: center;
}